.container {
  position: relative;
}

.input {
  border: none;
  border-bottom: 2px solid var(--color-primary);
  font-size: var(--font-subheading);
  padding: 4px 6px;
  background: transparent;
  width: 100%;
}

.list {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 20;
  max-height: 250px;
  overflow-y: auto;
}

.item {
  padding: var(--space-xs);
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
}

.item:last-child {
  border-bottom: none;
}

.item:hover {
  background: #fff2f2;
}

@media (max-width: 780px) {
  .container {
    margin-bottom: var(--space-lg);
  }
}
